
    .pagination {
        float:right;
    }

    .pagination li a{
        width: 30px;
        height: 30px;
        background-color: #ffffff;
        border: solid 1px #979797;
        margin-left: auto;
        color: #00b0ff;
        font-family: Roboto;
        font-size: 11px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;     
        margin:0px 3.5px; 
        }

    .pagination li span{
        width: 30px;
        height: 30px;
        background-color: #ffffff;
        border: solid 1px #979797;
        margin-left: auto;
        color: #00b0ff;
        font-family: Roboto;
        font-size: 11px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;  
        margin:0px 3.5px; 
    }
    .arrowPage {
        
        background-color: transparent;
        font-family: Arial Bold;
        font-size: 19px;
        font-weight: 900;
        font-style: bold;
        color: #00b0ff;
        margin-left: auto;

    }

    .rectanglePage {
        width: 30px;
        height: 30px;
        background-color: #ffffff;
        border: solid 1px #979797;
        margin-left: auto;
        color: #00b0ff;
        font-family: Roboto;
        font-size: 11px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;

    }

    a:hover {
        background-color: none;
        color: white;
    }

    #spanCategorias {

        object-fit: contain;
        font-family: Gotham;
        font-size: 14px;
        font-weight: 700;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.07;
        letter-spacing: normal;
        text-align: left;
        color: #7e57c2;
    }

    .modal-header {
        padding: 0px;
      
    }

    .modal-body {
        padding: 0px 95px 0px 0px;
        margin:0px 0px;
    }

    .modalCustom {
        max-width: 1120px;
        width: 100%
    }

    .modalContentCustom {
        padding: 37px 95px 126px 95px !important;
    }

    .tbody tr:nth-child(even) {
        background-color: #eaeaeb;
    }

    .tbody tr:nth-child(odd) {
        background-color: #ffffff;
    }

    .inputFile{
        opacity:0;
        height:23px;
        max-width: 320px;
        width:100%;
    }
    .thumb{
        max-width:320px;
        width:100%;
    }
    .buttonCambiarImagen{
        margin-top:-23px;
        background-color: #5b5c61;
        max-width: 320px;
        height: 23px;
        width:100%;
        font-family: Roboto;
        font-size: 8px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #ffffff;
        padding-top:6px;
 
    }
    #titulo1{
        padding-bottom:10px;
  object-fit: contain;
  font-family: Gotham;
  font-size: 16px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.07;
  letter-spacing: normal;
  text-align: left;
  color: #7e57c2;
    }
    .label-Roboto{
        object-fit: contain;
        font-family: Roboto;
        font-size: 11px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        color: #5b5c61;
    }
    .content {
        padding-left: 85px !important;
        padding-right: 138px !important;

    }

    .content-wrapper {
        background-color: #d4dde2;
    }

    .td {
        height: 38px;
        object-fit: contain;
        font-family: Roboto;
        font-size: 11px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        color: #717175;
    }

    .thWhite {
        font-family: Roboto;
        font-size: 11px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        color: #ffffff;
    }

    .theadPurple {

        object-fit: contain !important;
        background-color: #7e57c2;
        box-shadow: 0 1px 1px !important;

    }

    .row {
        margin-bottom: 23px;
    }

    .rowModal {
        margin-bottom: 10px;
    }

    .box-right {
        display: flex;
        
        justify-content: right;

    }

    .buttonVerMas {
        width: 90px;
  
        padding: 5px 11px 5px 32px;
        font-family: Roboto;
        font-size: 12px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #009bdd;


        background-color: #ffffff;
        border: solid 1px #009bdd;
        background: url(https://res.cloudinary.com/carloandreaguilar/image/upload/v1533328380/MAP%20SALUD%20V3/shape.png) no-repeat left !important;
        background-position-x: 10px !important;
    }

    .buttonDelete {

        border-radius: 18px;
        background-color: #484848;
        box-shadow: 0 4px 6px 0 rgba(4, 119, 183, 0.3);
        object-fit: contain;
        font-family: Roboto;
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.07;
        letter-spacing: normal;
        padding-top: 8px;
        padding-bottom: 7px;
        color: #ffffff;
        margin-left: auto;
        max-width: 105px;
        width: 100%;
        text-align: center;
    }

    .buttonNew-Edit {

        border-radius: 18px;
        background-color: #00b0ff;
        box-shadow: 0 4px 6px 0 rgba(4, 119, 183, 0.3);
        object-fit: contain;
        font-family: Roboto;
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.07;
        letter-spacing: normal;
        padding-top: 8px;
        padding-bottom: 7px;
        color: #ffffff;
        margin-left: auto;
        max-width: 105px;
        width: 100%;
        text-align: center;

    }

    #labelRectangle {
        object-fit: contain;
        background: url(https://res.cloudinary.com/carloandreaguilar/image/upload/v1533327028/MAP%20SALUD%20V3/ic-noticias.png) no-repeat left !important;
        background-position-x: 17px !important;
        font-family: Roboto;
        font-size: 12px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        color: #423f40;

        width: 100%;

        background-color: #ffffff !important;
        box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
        margin-top: 10px;
        padding: 0px 40px 0px 50px;
    }

    select {
        -moz-appearance: none;
        /* for Chrome */
        -webkit-appearance: none;
    }

    .labelTexto {
        margin-right: 15px;
        width: 122px;
        height: 15px;
        object-fit: contain;
        font-family: Roboto;
        font-size: 13px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: right;
        color: #000000;

    }

    .textBox {

        font-family: Roboto !important;
        font-size: 11px !important;
        font-weight: normal !important;
        font-style: normal !important;
        font-stretch: normal !important;
        line-height: normal !important;
        letter-spacing: normal !important;
        text-align: left !important;
        color: #717175 !important;
        object-fit: contain !important;
        border-radius: 2px !important;
        background-color: #ffffff !important;
        border: solid 1px #00b0ff !important;
        
        width: 100%;
        padding: 9px 0px 8px 11px !important;
        
        }

    .textBoxLupa {

        font-family: Roboto !important;
        font-size: 11px !important;
        font-weight: normal !important;
        font-style: normal !important;
        font-stretch: normal !important;
        line-height: normal !important;
        letter-spacing: normal !important;
        text-align: left !important;
        color: #a7a7a7 !important;
        object-fit: contain !important;
        border-radius: 2px !important;
        background-color: #ffffff !important;
        border: solid 1px #00b0ff !important;
        max-width: 265px !important;
        width: 100%;
        padding: 9px 0px 8px 40px !important;
        background: url(https://res.cloudinary.com/carloandreaguilar/image/upload/v1533325014/MAP%20SALUD%20V3/combined-shape.png) no-repeat left !important;
        background-position-x: 11px !important;
    }

    .combobox {
        object-fit: contain !important;
        font-family: Roboto !important;
        font-size: 11px !important;
        font-weight: normal !important;
        font-style: normal !important;
        font-stretch: normal !important;
        line-height: normal !important;
        letter-spacing: normal !important;
        text-align: left !important;
        color: #00b0ff !important;
        object-fit: contain !important;
        border-radius: 2px !important;
        padding: 9px 0px 8px 11px !important;
        background-color: #ffffff !important;

        border: solid 1px #00b0ff !important;
        max-width: 265px;
        width: 100% !important;
        background: url(https://res.cloudinary.com/carloandreaguilar/image/upload/v1533313352/MAP%20SALUD%20V3/triangle-3-copy-2.png) no-repeat right !important;
        background-position-x: 241px !important;

        overflow: hidden !important;
    }

    .alineado {
        text-align: -webkit-right !important;
        padding-top: 8px;

    }
