@font-face {
    font-family: 'Avgardd-Regular';
    /*a name to be used later*/
    src: url('../fonts/AvantGardeBookBT.ttf');
    /*URL to font*/
}

@font-face {
    font-family: 'Avgardd-Bold';
    /*a name to be used later*/
    src: url('../fonts/Avgardd.ttf');
    /*URL to font*/
}

body {
    font-family: Avgardd-Regular, Arial, Helvetica, sans-serif !important;
}

html {
    font-family: Avgardd-Regular, Arial, Helvetica, sans-serif !important;
}

th {
    font-family: Avgardd-Bold, Arial, Helvetica, sans-serif !important;
    color: #5b5c61;
}

ul.breadcrumb li a {
    font-family: Avgardd-Bold, Arial, Helvetica, sans-serif !important;
}

a {
    color: #00BCD4;
    font-family: Avgardd-Bold, Arial, Helvetica, sans-serif !important;
}

b,
strong {
    font-weight: inherit !important;
    font-family: Avgardd-Bold, Arial, Helvetica, sans-serif !important;
}

a:hover {
    color: #ca0812;
}

b {
    color: #ca0812 !important;
}

h3 {
    color: #ca0812 !important;
}

h3,
h4,
h5,
h6 {
    font-family: Avgardd-Bold, Arial, Helvetica, sans-serif !important;
}

.img-center {
    margin: 0 auto;
}

textarea,
input {
    border: 1px solid #e0e0e0;
    padding: 5px 10px;
}

input {
    width: 300px;
}

select {
    font-family: Avgardd-Bold, Arial, Helvetica, sans-serif !important;
    outline: 0px !important;
    appearance: none !important;
    -moz-appearance: none !important;
    /* Firefox */
    -webkit-appearance: none !important;
    /* Safari and Chrome */
    width: 150px !important;
    padding: 5px !important;
    font-size: 14px !important;
    color: #5b5c61 !important;
    line-height: 1 !important;
    background: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png) no-repeat right !important;
    background-position-x: 120px !important;
}

select option {
    appearance: none !important;
    -moz-appearance: none !important;
    /* Firefox */
    -webkit-appearance: none !important;
    /* Safari and Chrome */
    font-size: 16px !important;
    padding: 5px !important;
    font-family: Avgardd-Regular, Arial, Helvetica, sans-serif !important;
    text-transform: uppercase !important;
}

select option:hover {
    box-shadow: 0 0 10px 100px #ca0812 inset !important;
    color: #fff;
}

label {
    display: block !important;
}

.navbar-inverse {
    background-color: #7e57c2 !important;
}

.sidebar {
    background-color: #484848 !important;
    color: #fff !important;
}

.navigation>li.active>a,
.navigation>li.active>a:hover,
.navigation>li.active>a:focus {
    background-color: #f4f4f4 !important;
    color: #000000 !important;
}



@media (min-width: 769px) {
    .sidebar-xs .sidebar-main .navigation>li>a>span {
        background-color: #ca0812 !important;
        color: #d2d2d2 !important;
    }
}

/***********BUSQUEDA******************/

.list-group-item.active:hover {
    background-color: #aed248 !important;
    border-color: #aed248 !important;
}

#item_to_add:hover {
    background-color: #4B8DF8;
    color: #fff;
    cursor: pointer;
    cursor: hand;
}

#search_results {
    z-index: 999999;
    position: absolute;
    background-color: #ffffff;
}

/*********************CARDS************************/

.card {
    width: 100%;
    height: 200px;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.12);
    margin: 5px 10px;
    padding: 3px 3px 3px 15px;
    cursor: pointer;
}

.card:hover {
    cursor: pointer;
    background-color: #00A3B7;
    color: #fef8f5;
}

.card h2 {
    font-size: 12px;
    font-family: Avgardd-Bold, Arial, Helvetica, sans-serif !important;
    text-align: center;
    margin-top: 10px;
    text-transform: uppercase;
}

.card p {
    padding-right: 5px;
    font-size: 12px;
    line-height: 1.38;
    text-align: center;
}

.card .footer {
    font-size: 14px;
    line-height: 1.73;
    text-align: left;
}

.card span {
    float: right;
    display: block;
}

.card img {
    margin: 0 auto;
    padding-top: 5px;
    height: 80px !important;
    text-align: center;
}

/*********TEXTO****************/

.text-semibold {
    text-transform: uppercase;
}

#ver:hover {
    cursor: pointer;
    background-color: #F5F5F5;
}

#ver {
    padding: 5px;
    color: #00A3B7;
    text-transform: uppercase;
    font-family: Avgardd-Bold, Arial, Helvetica, sans-serif !important;
}

/*******MODAL***************/

.modal {
    z-index: 9999;
}

/**********ICONS****************/

.icon {
    width: 20px;
    margin-right: 20px;
}

.breadcrumb {
    font-family: Avant, verdana, helvetica, arial, sans-serif !important;
}

/*******BOTONES******************/

#btn-img {
    cursor: pointer;
}

small {
    font-size: 10px;
}

#editar {
    font-family: Avgardd-Bold, Arial, Helvetica, sans-serif !important;
}

/***********************MAPSALUD****************/

.logout-label {
    font-family: Roboto;
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}