body {
    background-color: #eaeaeb;
}

.menu {
    /* height: 50px; */
    background-color: #b3272d;
}

.menu .logo:hover {
    opacity: 0.7;
}

.menu .navbar-menu {
    padding: 6px;
    margin-right: 30px;
    cursor: pointer;
}

.menu .navbar-menu:hover {
    opacity: 0.7;
}

.menu .exit {
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    vertical-align: middle;
}

.menu .exit:hover {
    opacity: 0.7;
}

.menu .exit img  {
    vertical-align: sub;
}


/**
*
*   Side Navigation Menu
*
* * * * * * * * * * * * * * * * */

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 53px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
.admin-content {
    transition: margin-left .5s;
    /* padding: 20px; */
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    /* .sidenav {padding-top: 15px;} */
    .sidenav a {font-size: 18px;}
}

/* ****************  END ******************* */

.sidenav a {
    cursor: pointer;
    padding: 8px 8px 8px 20px;
}

/* .sidenav a img:first-of-type {
    display: initial;
}
.sidenav a img:last-of-type {
    display: none;
} */

.sidenav a.active {
    background: #ffffff;
}

.sidenav a.active img:first-of-type {
    display: none;
}

.sidenav a.active img:last-of-type {
    display: initial;
}

.sidenav a:hover {
    background: #cecece;
}

.sidenav a img:first-of-type {
    display: initial;
}

.sidenav a img:last-of-type {
    display: none;
}

.sidenav a:hover img:first-of-type {
    display: none;
}

.sidenav a:hover img:last-of-type {
    display: initial;
}

.admin-breadcrumb {
    height: 53px;
    background-color: #ffffff;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
    padding: 15px 24px;
} 

.admin-breadcrumb span {
    vertical-align: middle;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #423f40;
    margin-right: 10px;
    cursor: default;
} 

.admin-breadcrumb span.active {
    font-weight: bold;
    cursor: pointer;
}

.admin-breadcrumb span.active:hover {
    opacity: 0.6;
}

.admin-breadcrumb span.end {
    float: right;
    cursor: pointer;
}

.admin-breadcrumb span.end:hover {
    opacity: 0.6;
}

.admin-breadcrumb span svg {
    vertical-align: text-top;
} 

.content-oh {
    padding: 30px 40px;
}

.main-actions {
    margin-bottom: 20px;
}

.main-actions button {
    background-color: #00a1e4;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    border: 0;
    border-radius: 0;


    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}

.main-actions button img {
    margin-right: 5px;
}

form.sanciones {
    margin-bottom: 30px; 
}    

form.sanciones label {
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    font-weight: bold;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: right;
    color: #5b5c61;
}

form.sanciones input,
form.sanciones select
{
    background-color: #ffffff;
    border: solid 1px #a7a7a7;
    border-radius: 0;

    font-size: 11px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #717175;
    height: 32px;
    
}

form.sanciones label.input-group-text {
    border: solid 1px #a7a7a7;
    border-radius: 0;
    background-color: #cbf0ff !important;
} 

form.sanciones .select-group {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 100%;
} 

form.sanciones .select-group select {
    position: relative;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    width: 1%;
    margin-bottom: 0;
} 

form.sanciones select.select-fancy {
    background-color: #cbf0ff;
} 



.table { 
    background-color: #ffffff;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
}

.table .thead-dark-lite th {
    background-color: #717175;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
    border-color: #717175;
    color: white;

    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    /* text-align: center; */
    color: #ffffff;
}